.navbar {
  width: 100%;
  height: 100px;
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.logo img {
  height: 130px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 16px;
  font-weight: 400;
}

.menu a:hover {
  color: white;
}
.ativo {
    font-weight: bold;
  }