<nav class="navbar">
  <div class="logo">
    <img src="/logokm.png" alt="Logo">
  </div>
  <ul class="menu">
    <li><a routerLink="/" routerLinkActive="ativo">Inicio</a></li>
    <li><a routerLink="/loja" routerLinkActive="ativo">Conheça a loja</a></li>
    <li><a routerLink="/compra" routerLinkActive="ativo">Compre online</a></li>
    <li><a routerLink="/categoria" routerLinkActive="ativo">Categorias</a></li>
    <li><a routerLink="/test-drive" routerLinkActive="ativo">Test Drive</a></li>
  </ul>
</nav>
